<!-- +++++ Footer Section +++++ -->
	
<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4></h4>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>Links</h4>
					<p>
						<a href="https://www.linkedin.com/in/mattcarterpdx">LinkedIn</a><br/>
						<a href="https://github.com/mattdini">GitHub</a><br/>
						<a href="mailto:matt@mattisawesome.com">matt@mattisawesome.com</a>
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About This Page</h4>
					<p>Needed somewhere to show off some projects, ideas, technologies I <i class="fa fa-heart" aria-hidden="true"></i></p>
				</div><!-- /col-lg-4 -->
			
			</div>
		
		</div>
	</div>