<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container centered">

      
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>-->
                      <div class="logoDiv animated fadeInDown">
                          <a href="index.php"><img class="img-responsive" src="../assets/img/mattisawesomelogo.png"></a>
                      </div>	  

      
    </div>
  </div>