<!-- +++++ Welcome Section +++++ -->
<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="assets/img/matt.png" alt="Matt" class="animated fadeIn">
					<h1>Hi, I am Matt!</h1>
					<p>Hello everybody. I like to <span id="typeMe"></span></p>
					<p>
						I call myself a programming systems administrator.
					</p>
					<p>
						Need to change a property across hundreds of users? Deploy software to thousands of computers? Spin up and configure a NGINX webserver in the cloud?
						<p> I wrote a script for that... </p>
					</p>
					
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->